.select2-selection {
    height: 52px !important;
    border-bottom: 1px solid #aaaaaa9c !important;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
}