.mmenu-item--mega.category-link {
    background: #27c7d8;
    padding: 0px 20px;
}

.mmenu-item--mega.category-link .category-anchor {
    color: #ffffff !important;
}

.h1-style {
    font-size: 20px !important;
}

.product-holder .container {
    padding: 10px 20px !important;
    background: #f3f3f3 !important;
}
